
// variables
@import "variables";

body {
  background-color: #F9FAFC;
  color: #000000;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  color: inherit;
}

