@import "mixins";
@import "variables";

* {
  font-size: 14px;
  font-family: "Roboto", serif;
}

@mixin bp-768 {
  @media (max-width: 768px) {
    @content;
  }
}

.wrapper {
  @include bp-768 {
    width: 100wv;
  }
}

.page-about-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include bp-768 {
    background-color: red;
  }
}

.flex-block {
  color: $color-primary;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &.two {
    justify-content: space-between;
  }
  &.center {
    justify-content: center;
  }
  .child-item {
    color: red;
    div a {
    }
  }
  @include bp-768 {
    width: 100wv;
  }
}
