// body {
//     background-color: #ffffff;
// }
.header-cabinet {
    box-sizing: border-box;
    max-width: 1400px;
    min-height: 60px;
    padding-left: 140px;  //TODO mpbile width
    padding-right: 140px;  //TODO mpbile width
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    
}

.breadcrumb,
.personal-settings__list,
.main-menu__list,
.cabinet__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.breadcrumb {
    display: flex;

    &__item {
        margin-right: 10px;
    }

    &__item::before {
        content: " ";
        display: inline-flex;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background-image: url("../img/breadcrumbs_arrow.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__item:first-of-type::before {
        display: none;
    }
}

.personal-settings__list {
    display: flex;
    align-items: center;
    &::after {
        content: " ";
        display: inline-flex;
        width: 10px;
        height: 10px;
        margin-left: 10px;
        background-image: url("../img/personal-settings_arrow.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}


.main {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 120px 60px 60px 140px;
    // display: flex;
    // justify-content: center;
}
.main-menu {
    background-color: #01134E;
    width: 80px;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    padding-top: 20px;
    padding-bottom:20px;
    left: 0;
    top: 0;

    &__logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30px;
    }

    // &__list {

    // }

    &__item {
        height: 50px;
        width: 100%;
        border-left: 4px solid transparent;
        box-sizing: border-box;
    }

    &__item:hover {
        border-left: 4px solid #0AD69C;
    }

    &__img {
        width: 20px;
        height: 20px;
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
        cursor: pointer;
    }
}

.cabinet {
    border: 2px solid red;
    padding: 60px;
    background-color: #ffffff;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 800px; //rodo mobike size
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #CCD0DC;


    }

    &__header-title {
        cursor: pointer;
        box-sizing: border-box;
        display: inline-block;
        width: 50%;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        border-bottom: 2px solid #CCD0DC;

        &-active {
            border-bottom: 2px solid #2A74DB;
            color: #01134E;
            font-weight: 700;
        }
    }

}

.cabinet__information {
    padding-top: 50px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;

    &-figure {
        width: 136px;
        margin: 0;
        margin-right: 40px;
        text-align: center;

    }

    &-img {
        width: 136px;
        height: 136px;
        border-radius: 50%;
    }
    
    &-figcaption {
        margin-top: 6px;
        margin-left: 10px;
    }

    &-figcaption::before {
        content: "";
        display: inline-flex;
        background-image: url("../img/figcaption_pencel.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }
}

.cabinet {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        &-item {
            margin-bottom: 30px;
        }

        &-label {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #546087;
            padding-bottom: 5px;
        }

        &-input {
            width: 280px;
            margin-right: 30px;
            box-sizing: border-box;
            padding: 10px 15px;
        }

        &-input-country {
            padding-left: 25px;
            background-image: url("../img/country_point.svg");
            background-repeat: no-repeat;
            background-position: -37% 50%;
            background-size: 50% 50%;
        }

        &-account {
            width: 100%;
        }

        &-account-text {
            width: 100%;
            text-align: right;
        }
    }
}
